body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #f8f9fa;
}

header .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

header .logo {
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #28a745 !important;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


.custom-card {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #2a2a2a;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
}



.application-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.application-card h3 {
    font-size: 1.2rem; 
    color: #28a745;
    margin-bottom: 10px; 
}

.application-card p {
    font-size: 0.9rem; 
    color: #ccc;
    margin-bottom: 5px;
}

.application-card {
    max-width: 700px; 
    margin: 0 auto 20px; 
    padding: 15px;
    background-color: #2a2a2a;
    border: 1px solid #333;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.application-card a {
    text-decoration: none;
    color: #28a745;
    font-weight: bold;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .custom-card {
        margin: 20px 10px;
        padding: 15px; 
    }
    .application-card {
        padding: 10px; 
    }
}

.application-card a:hover {
    color: #218838;
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
